/*  your css code here. If applicable */
body{
	background-color: purple;
	margin-top: 10rem;
}
#buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.btn, .stop {
  background-color: #4b006e;
  border: none;
  color: white;
  
  font-size: 16px;
  cursor: pointer;
  
  transition: background 0.3s;
}

.btn:hover {
  background-color: purple;
}

.stop {
  background-color:#4b006e;
}

.stop:hover {
  background-color: #da190b;
}